    <div class="side-nav fit" drawer>
      <iron-selector attr-for-selected="name">
        <a name="home" class="side-nav-menu-item" href="/">Home</a>
        <a name="faqs" class="side-nav-menu-item" href="/faqs/#!/">FAQs</a>
        <a name="support" class="side-nav-menu-item" href="/support/">Support</a>
        <a name="community" class="side-nav-menu-item" href="/community/">Community</a>
        <a name="blog" class="side-nav-menu-item" href="/blog/">Blog</a>
      </iron-selector>
    </div>
