      <app-header class="main-header" effects="waterfall" fixed="[[smallLayout]]">
        <app-toolbar class="main-toolbar" primary>
          <a class="main-logo" href="/"></a>
          <div class="layout horizontal flex center-justified">
            <iron-selector attr-for-selected="name" class="main-menubar-wide-only">
              <a name="faqs" class="main-menubar-tab" href="/faqs/#!/">FAQs</a>
              <a name="support" class="main-menubar-tab"  href="/support/">Support</a>
              <a name="community" class= "main-menubar-tab" href="/community/">Community</a>
              <a name="blog" class="main-menubar-tab" href="/blog/">Blog</a>
            </iron-selector>
          </div>
          <div class="layout horizontal flex main-menu-icon-layout">
            <iron-icon class="main-menu-icon main-menu-icon-narrow-only" icon="menu" tabindex="0" drawer-toggle>
          </div>
        </app-toolbar>
      </app-header>
