<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0" name="viewport">
<meta content="IE=Edge" http-equiv="X-UA-Compatible">
<title>Lambda Linux</title>

<link rel="stylesheet" href="{{ assetPath "css/main.css" }}">

<script src="{{ assetPath "js/webcomponents-lite.min.js" }}"></script>
<link href="{{ assetPath "elements/elements.html" }}" rel="import">

<style is="custom-style" include="shared-styles"></style>
<link href="{{ assetPath "elements/home/elements.html" }}" rel="import">

</head>

<body unresolved>

<template is="dom-bind" id="app">

  <app-drawer-layout force-narrow>

{{> html-app_side_nav}}

    <app-header-layout>

{{> html-app_main_header}}

      <home-hero>
        <div herohead>Node.js RPM Packages for Amazon Linux</div>
        <div herobutton>
          <a href="/blog/2016/06/01/nodejs-support-for-amazon-linux/">
            <paper-button raised noink class="hero-button">Learn more...</paper-button>
          </a>
        </div>
      </home-hero>

      <home-getting-started>
        Getting started is secure and easy!
      </home-getting-started>

      <home-projects></home-projects>

      <home-thankyou>Thank you and welcome to our <a href="https://lambda-linux.io/community/">community.</a></home-thankyou>

{{> html-app_footer}}

    </app-header-layout>
  </app-drawer-layout>

{{> html-app_media_query}}

</template>
<script>

{{> js-app_drawer}}

</script>
</body>
</html>
